.steps_containers{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-top: 30px;
}
  
.steps_containers li{
    list-style: none;
    color: var(--White);
}
  
li span{
    border: solid 1px var(--White);
    border-radius: 50%;
    padding: 5px 10px;
}
  
.steps_item{
    display: none;
}
@media (min-width: 940px) {
    .steps_containers{
        flex-direction: column;
        align-items: start;
        gap: 45px;
        padding-top: 45px;
        padding-left: 20px;
      }
      
      .steps_containers li{
        display: flex;
        gap: 15px;
        list-style: none;
        color: var(--White);
      }
      .steps_item{
        display: block;
        font-weight: bold;
      }
      .step{
        color: var(--CoolGray);
        font-size: 0.8rem;
        padding-bottom: 5px;
      }   
}