.card_container{
    height: 40vh;
    width: 90%;
    border-radius: 15px;
    background-color: var(--White);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 1rem;
    box-shadow: 0 8px 10px var(--CoolGray);
  }
  
  .card_container h2{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--Marineblue);
    margin-bottom: 1rem;
  }
  
  .card_container p{
    margin-bottom: 1rem;
    color: var(--CoolGray);
  }
  
  .card_container form{
    display: flex;
    flex-direction: column;
  }
  
  .card_container form label{
    color: var(--Marineblue);
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }
  
  .card_container form input{
    margin-bottom: 0.8rem;
    padding: 0.7rem;
    border: 1px solid var(--CoolGray);
    border-radius: 5px;
    color: var(--Marineblue);
    font-weight: bolder;
    cursor: pointer;
}

@media (min-width: 940px){
    .card_container{
        height: 40vh;
        width: 450px;
        top: 35%;
        left: 70%;
        transform: translate(-50%, -50%);
        padding: 2rem 1rem;
        box-shadow: none;
      }
}